version: "3.9"

services:

  mariadb:
    build: requirements/mariadb
    container_name: mariadb
    restart: always
    env_file: .env
    secrets:
      - db_password
      - db_root_password
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - inception

  wordpress:
    build: requirements/wordpress
    container_name: wordpress
    restart: always
    env_file: .env
    secrets:
      - db_password
      - credentials
    volumes:
      - wp_data:/var/www/wordpress
    depends_on:
      - mariadb
    networks:
      - inception

  nginx:
    build: requirements/nginx
    container_name: nginx
    restart: always
    env_file: .env
    ports:
      - "443:443"
    volumes:
      - wp_data:/var/www/wordpress:ro
    depends_on:
      - wordpress
    networks:
      - inception


networks:
  inception:
    driver: bridge

volumes:
  db_data:
    driver_opts:
      type: none
      device: /home/tzizi/data/db
      o: bind
  wp_data:
    driver_opts:
      type: none
      device: /home/tzizi/data/wp
      o: bind

secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt
  credentials:
    file: ../secrets/credentials.txt
